
    
    body{
        color:green;
        font-size:18px;
        margin-top:50px;
        }
      
         div{
        position:absolute;
        left:420px;
        top:190px;
        }
        #a{
        position:absolute;
        left:420px;
        top:260px;
        margin-top:140px;

        }
        #b{
        position:absolute;
        left:420px;
        top:570px;
        }
        #c{
        position:absolute;
        left:420px;
        
        top:800px;
        margin-top:0px;
        }
        h3{
            text-align: right;
            position:relative;
            top:100px;
            color:black;
            font-size:15px;
        }