
<body>
<marquee>Some of the risks of taking more amount of tea</marquee>
<span><u>Black tea:</u>
<br>
Anxiety and difficulty sleeping<br>
Faster breathing<br>
Headache<br>
Increased urination<br>
Irregular heartbeat<br>
High blood pressure</span><br>
<span id="a"><u>Green tea:</u><BR>
Caffeine sensitivity <br>
Liver damage<br> 
Other stimulants<br>
<span id="b"><u>Red tea</u>
<br>Headaches<br>
Dizziness<br>
Reduced iron absorption. Tea is a rich source of a class of compounds called tannins. ..<br>
Increased anxiety, stress, and restlessness<br>
Poor sleep<br>
</span><br>
<span id="c"><u>Lemon tea:</u><br>
 Tooth Erosion<br>
 Dehydration<br>
Absorbs Aluminum<br>
Stomach Problems<br>
<span id="d"><u>Ginger tea</u><br>
Stomach upset<br>
Heartburn<br>
Slowed blood clotting<br>
<span id="e"><u>Herbal tea:</u><br>
headache<br>
flushing of skin<br> 
soreness in mouth<br>
heartburn<br>
 dermatitis<br></span>
</span>
<h3>Created By @E.Neeraja</h3>



