<h1>WORLD FAMOUS DRINK<span class="a">  "T"</span></h1>
    <nav>  <label class="logo">
    </label>

    <ul>
        <li><a routerLink="/history">Ancient History</a></li>
        <li><a routerLink="/topplaces">Top places</a></li>
        <li><a routerLink="/health">Health benefits</a></li>
        <li><a routerLink="/types">Different types of tea</a></li>
       <li> <a routerLink="/moretypes">More types</a></li>
       <li> <a routerLink="/risks">Health Hazards</a></ul>
 </nav>

<router-outlet></router-outlet>