body{
    background:linear-gradient(white,green);
    color:blue;
    text-align:center;
    font-family:Times-new-roman;
    font-size:50px; 
}

    div{
    border:2px solid black;
    font-size:30px;
    color:black;

    }
    h3{
        text-align: right;
        position:relative;
        top:100px;
        color:black;
        font-size:15px;
    }
    